// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Libre+Baskerville:wght@400;700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+3&display=swap');

// Color palette
$primary:       #d6d2c0;
$secondary:     #edece5;
$button:        #6a9a72;
$background:    #f5f5f5;
$text:          #3d3d3d;


// Typography scale
$font-size-h1: 3.052rem;
$font-size-h2: 2.441rem;
$font-size-h3: 1.953rem;
$font-size-h4: 1.563rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

$card-width: 300px;
$card-margin: 10px;

// Font variables
$heading1-font: 'Lato', sans-serif;
$heading2-font: 'Lato', sans-serif;
$heading3-font: 'Merriweather', serif;
$heading4-font: 'Lato', sans-serif;
$bodytext: 'Lato', sans-serif;

$spacing: 25px;
$spacing-2: 45px;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// Navigation bar 

:root {
    --bs-body-bg: #f5f5f5;
}

nav {
    background-color: $primary;
    padding: 1rem;
}

.wrapper {
max-width: 1500px;
margin: 0 auto;
}

.nav-link {
    color: var(--bs-link);
}

.image-banner h1 {
    color: white;
    left: 7%;
    top: 100px;
}

.card-container {
    display: flex;
    justify-content: space-between; // Adjust as needed
  }
  
  .card {
    width: $card-width;
    margin-right: $card-margin;
  
    // Style the card further if needed
  }
  
  // Adjust the margin of the last card to remove the extra margin
  .card:last-child {
    margin-right: 0;
  }

  .navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}
  
.btn-custom {
  background-color: $button;
  color: #fff;
}

// Typography scale
 
h1 {
  font-family: $heading1-font;
  font-size: $font-size-h1;
  font-weight: bold;
  color: #fff;
}

h2 {
  font-family: $heading2-font;
  font-size: $font-size-h2;
  font-weight: 900;
  color: $button;
}

.custom-h2 {
  font-size: $font-size-h2;
  font-weight: 900;
  color: $text;
}

h3 {
  font-family: $heading3-font;
  font-size: $font-size-h3;
  font-weight: 700;
  color: $text;
}

.custom-h3 {
  font-size: $font-size-h3;
  font-weight: 400;
  color: $text;
}

.custom-h3-bold {
  font-size: $font-size-h5;
  font-weight: 900;
  color: $text;
}

h4 {
  font-family: $heading4-font;
  font-size: $font-size-h4;
  font-weight: 700;
  color: $text;
}

.custom-h4 {
  font-size: 0.25rem;
  font-weight: 700;
  color: $text;
}

// Nav

.nav-styling {
  text-transform: uppercase;
  font-weight: 600;
}

// Footer

.text-footer {
  color: #3d3d3d;
}

// Margin & Padding & Border Radius

.margin-20px {
  margin: $spacing;
}

.margin-40px {
 margin: $spacing-2;
}

.margin-left {
  margin-left: 20px;
  margin-bottom: 15px;
}

.margin-button {
  margin-top: 10px;
  margin-bottom: 20px;
}

.border-radius-books {
  border-radius: 10px;
}

.books-width {
  width: 80%;
}

.small-images {
  width: 30%;
}

.icon-width {
  width: 20%;
}

// Background colors

.bg-primary {
  background-color: $secondary!important;
}

.bg-secondary {
  background-color: $primary!important;
}

.bg-tertiary {
  background-color: $button!important;
}

.bg-aside {
  background-color: $background!important;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}